<% include partials/header %>


<div class="container mt-5">
    <div class="row">
        <div class="col-sm-8 m-auto">
            <div class="card">
                <h4 class="card-header"><%= campground.name%></h4>
                <div class="card-body">
                    <img class="card-img-top" src="<%=campground.image%>" alt="">
                    <p class="card-text">Submitted by: <%= campground.author.username %></p>
                    <p class="card-text"><%= campground.description %></p>
                    <form action="/campgrounds/<%= campground._id%>?_method=DELETE"  method="POST">
                        <a class="btn btn-primary" href="/campgrounds/<%= campground._id%>/edit">Edit</a>
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    


<% include partials/footer %>